* {
margin: 0;
padding: 0;
}


section.background {
	width: 1366px;
	height: 100vh;
	background-color: transparent;
}

main {

	width: 90%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.navigation {
	width: 100%;
	height: 2%;
	margin-top: 1%;
}

a {
	text-decoration: none;
}
.home {
	width: 7%;
	height: 100%;
	float: left;
	text-decoration-color: black;
}

.home:hover {
	text-decoration: underline;
}

.home p {
	color: black;
}

.hyphenation1 {
	width: 7%;
	height: 100%;
	float: left;
	text-decoration-color: black;
	
}

.hyphenation1:hover {
	text-decoration: underline;
}

.hyphenation1 p {
	color: black;
}

.container {
	width: 80%;
	height: 20%;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	line-height: 1em;

}
.container h4 {
	padding-top: 2%;
	line-height: 1em;
}
.inprint {
	width: 100%;
	height: 17%;
	line-height: 1em;
	text-align: justify;

}
.ontheweb {
	width: 98%;
	height: 24%;
	margin-left: 2%;
	text-align: justify;
	line-height: 1em;
}
.container h1 {
	text-align: center;
	margin-top: 0.3em;
	line-height: 1em;

}
.container h2 {
	text-align: center;

}
.container h3 {
	text-align: center;

}
.container h4 {
	text-align: center;
}
.numbers {
	height: 35%;
	width:99%;
	margin-left: 1%;
	text-align: justify;
	line-height: 1em;

}
.number h4 {
	padding-top: 2%;
}
.fear {
	width: 100%;
	height: 33%;
	text-align: justify;
	line-height: 1em;
}
.bytheway {
	width: 98%;
	height: 24%;
	margin-left: 2%;
	text-align: justify;
	line-height: 1em;
}
.hyphenation{
	text-align: justify;
	line-height: 1em;
	height: 44%;
	margin-top: 2%;

}
.hyphenation h4 {
	font-size: 0.667em;
	width: 98%;
	margin-left: 2%;
	text-align: justify;
}
.dashes {
	text-align: justify;
	height:10%;
}
.persegi {
	width: 38%;
	height:5%;
	margin-left: 2%;
	
}
.persegi1 {
	width: 22%;
	height:100%;
	float: left;
	
}
.numbers2 {
	height: 17%;
	width:99%;
	margin-left: 1%;
	text-align: justify;
	line-height: 1em;
}
.note {
	text-align: justify;
	line-height: 1em;
	height: 8%;
}
.twosize{
	text-align: justify;
	line-height: 1em;
	height: 8%;
}
.twouse{
	text-align: justify;
	line-height: 1em;
	height: 2%;
}
.numbers3{
	height: 5%;
	width:99%;
	margin-left: 1%;
	text-align: justify;
	line-height: 1em;
}
.break{
	text-align: justify;
	line-height: 1em;
	height: 7%;
}
.bytheway2{
	height: 30%;
	width:99%;
	margin-left: 1%;
	text-align: justify;
	line-height: 1em;
	margin-bottom: 7%;
}

@media (max-width: 340px) {
	section.background{
		width:340px;
	}
	
	main {
		width: 80%;
	}
	.navigation {
		margin-top: 5%;
	}
	.home {
		width: 15%;
		margin-left: 35%;
	}
	
	.hyphenation1 {
		width: 20%;
	}
	
	.container {
		width: 100%;
		height: 50%;
		margin-top: 10%;
	}
	
	.container h4 {
		line-height: 2em;
	}
	.container h2 {
		padding-top: 3%;
	}
	.container h3 {
		padding-top: 2%;
	}
	
	.inprint {
		height: 45%;
	}
	
	.ontheweb {
		height: 65%;
		width: 100%;
		margin-left: 0%;
	}
	
	.fear {
		height: 120%;
	}
	
	.numbers {
		height: 85%;
	}
	
	.bytheway {
		height: 90%;
	}
	
	.hyphenation {
		margin-top: 10%;
		height: 140%;
	}
	
	.hyphenation h4 {
		width: 100%;
		margin-left: 0%;
	}
	
	.hyphenation h3 {
		padding-top: 2%;
	}
	
	.persegi {
		width: 100%;
		margin-left: 0%;
		height: 7%;
	}
	
	.persegi1 {
		width: 25%;
	}
	
	.numbers2 {
		height: 55%;
		width: 100%;
		margin-left: 0%;
	}
	
	.note {
		height: 25%;
	}
	
	.twosize {
		height: 22%;
	}
	.twouse {
		height: 3%;
	}
	.numbers3 {
		height: 25%;
		width: 100%;
		margin-left: 0%;
	}
	
	.break {
		height: 25%;
	}
	
	.bytheway2 {
		height: 110%;
	}
}


















