@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&family=Roboto:wght@300;400&display=swap');


h1 {
  	font-family: 'Raleway', sans-serif;
  	font-size: 1.5em;
  	color: black;
  	font-weight: 700;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 0.667em;
  	color: black;
  	font-weight: 500;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 0.667em;
	margin-top: 1%;
	color: black;
	font-weight: 300;
}

h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 0.444em;
	font-weight: 300;

}

h5 {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 400;


}

h6 {
	font-family: 'Roboto', sans-serif;
	font-size: 0.667em;
	font-weight: 300;

}


p {
	font-family: 'Roboto', sans-serif;
	font-size: 0.667em;
	font-weight: 300;

}

